.fish__image {
    height: 15rem;
}


.fishes {
    margin-bottom:1rem;
}

.fish {
    font-family: 'Questrial', sans-serif;
    font-size: 1.25rem;
    display:flex;
}

.fish__container-info {
    padding:3rem;
}