@import "./fish.css";
@import "./locations.css";
@import "./quotes.css";
@import "./tips.css";

body {
    background: rgb(123,214,233);
    background: radial-gradient(circle, rgba(123,214,233,1) 0%, rgba(41,146,163,1) 99%);
}
#container {
    display:flex;
    /* background: rgb(123,214,233);
    background: linear-gradient(90deg, rgba(123,214,233,1) 25%, rgba(41,146,163,1) 73%); */
    /* background: rgb(123,214,233);
    background: radial-gradient(circle, rgba(123,214,233,1) 0%, rgba(41,146,163,1) 99%); */
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.logo-container {
    flex:2;
    margin-left: 4rem;
}
.siteLogo {
    height: 14rem;
      
}

.siteTitle {
    flex-basis: 78%;
    font-size: 4rem;
    font-stretch: expanded;
}

.header {
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(123,214,233);
    background: radial-gradient(circle, rgba(123,214,233,1) 0%, rgba(41,146,163,1) 99%); */
    margin-bottom:0rem;
}

.card--image {
    height: 15rem;
}

.card {
    font-family: 'Questrial', sans-serif;
    font-size: 1.25rem;
    padding: 2rem;
    /* border: 1px black solid */

}

.container-left {
    margin-right: 4rem;
    flex: 3;
    flex-wrap: wrap;
}

.container-right {
    margin-right: 4rem;
    flex: 1;
    flex-direction: column;
    flex-basis:20%;
    
}

